.playground
  background: linear-gradient(-45deg, #4e54c8, #8089ff)

  .playground-title
    padding: 1em
    font-size: 2.5em
    text-align: center
    color: white

  .run-button
    top: 1em
    right: 4em
    height: 3em
    width: 3em

  .ERRORgutter, .WARNINGgutter
    margin-top: 0.7em
  .CodeMirror
    font-size: 2em
    pre
      line-height: 1.5em
  .executable-fragment-wrapper
    background: none
    padding: 0 3em 3em 3em
    max-width: 1000px
    margin-right: auto
    margin-left: auto
  .executable-fragment
    border: none
  .compiler-info
    display: none
  .js-code-output-executor.darcula
    border: none
  .output-wrapper
    border: none